/colony_point_clouds/colony_pics/KP0287_LM_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0287_LM_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0287_LM_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0287_LM_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0287_LM_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0287_LM_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0294_AC_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0294_AC_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0294_AC_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0294_AC_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0294_AC_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0294_AC_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0302_AC_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0302_AC_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0302_AC_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0302_AC_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0302_AC_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0302_AC_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0306_LM_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0306_LM_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0306_LM_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0306_LM_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0306_LM_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0306_LM_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0350_LM_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0350_LM_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0350_LM_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0350_LM_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0350_LM_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0350_LM_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0387_AC_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0387_AC_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0387_AC_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0387_AC_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0387_AC_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0387_AC_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0477_AC_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0477_AC_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0477_AC_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0477_AC_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0477_AC_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0477_AC_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0479_AC_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0479_AC_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0479_AC_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0479_AC_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0479_AC_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0479_AC_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0490_AC_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0490_AC_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0490_AC_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0490_AC_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0490_AC_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0490_AC_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0518_LM_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0518_LM_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0518_LM_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0518_LM_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0518_LM_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0518_LM_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0554_AC_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0554_AC_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0554_AC_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0554_AC_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0554_AC_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0554_AC_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0558_LM_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0558_LM_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0558_LM_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0558_LM_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0558_LM_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0558_LM_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0571_AC_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0571_AC_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0571_AC_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0571_AC_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0571_AC_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0571_AC_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0573_LM_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0573_LM_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0573_LM_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0573_LM_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0573_LM_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0573_LM_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0583_LM_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0583_LM_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0583_LM_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0583_LM_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0583_LM_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0583_LM_WP20_3_rotated.png
/colony_point_clouds/colony_pics/KP0588_LM_WP20_1_colour.png
/colony_point_clouds/colony_pics/KP0588_LM_WP20_1_rotated.png
/colony_point_clouds/colony_pics/KP0588_LM_WP20_2_colour.png
/colony_point_clouds/colony_pics/KP0588_LM_WP20_2_rotated.png
/colony_point_clouds/colony_pics/KP0588_LM_WP20_3_colour.png
/colony_point_clouds/colony_pics/KP0588_LM_WP20_3_rotated.png
